{% extends "base.html" %}



{% block content %}
<div class="container max-w-4xl mx-auto px-4">
  <div class="pt-8 flex pb-6">
    <h1 class="grow font-bold font-sans break-normal text-zinc-900 dark:text-zinc-200 text-3xl">{{ section.title }}</h1>
  </div>
  <div class="prose dark:prose-invert text-zinc-900 dark:text-zinc-200 pb-8">
  {{ section.content | safe }}
  </div>
  <hr class="border-b-1 border-zinc-400">

{% for position in section.extra.institutions %}
<div id="{{ position.institution }}" class="pt-6">
  <div class="flex mb-auto align-bottom justify-between pb-1 pt-2">
    <h2 class="grow inline font-bold font-sans break-normal text-amber-600 dark:text-amber-200 text-2xl">{{ position.institution }}</h2>
    <span class="prose dark:prose-invert inline mb-0 mt-auto float-right italic text-slate-400">{{ position.start }}&nbsp;-&nbsp;{{ position.end }}</span>
  </div>
  <div class="pb-2">
    <span class="prose-md dark:prose-invert font-bold text-slate-400">{{ position.title }}</span>
  </div>
  <span class="prose-md dark:prose-invert font-bold inline-block pb-2 text-zinc-900 dark:text-zinc-200 text-xl">Courses</span>
  {% for course in position.courses %}
  <div id="{{ course.id }}" class="pt-2 pb-2">
    <div class="flex align-baseline justify-between mb-auto">
      <h4 class="prose dark:prose-invert inline-block italic font-bold text-blue-700 dark:text-sky-300 text-xl mt-0 pt-0">{{ course.name }}</h4>
      <div class="inline">
        {% for offering in course.offerings %}
        <span class="grow italic font-sans break-normal text-slate-400">&nbsp;{{ offering }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="prose dark:prose-invert flex-grow break-normal font-sans pl-4 max-w-full">
      <span class="font-bold">Topics</span><br/>
      {% for topic in course.topics %}
      <span class="italic text-slate-400">{{ topic }}</span>&nbsp;
      {% endfor %}
      <div class="pt-2">
        <span class="font-bold">Responsiblities</span>
        <ul class="m-0">
        {% for desc in course.responsibilities %}
          <li class="prose dark:prose-invert prose-violet max-w-full my-0 mr-6">{{ desc }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
</div>
{% endblock content %}